
*.pyc
/migrations/*

/tableinfo/*
!/tableinfo/.gitkeep
/chart/*
!/chart/.gitkeep
!/chart/chart_sample.py
/ogidata/static/img/*
!/ogidata/static/img/.gitkeep
/media/img/*
!/media/img/.gitkeep

/instance/*
!/instance/config.py.sample
/data_imp/*
/data_exp/*
!/data_exp/.gitkeep
